@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
	--primary: #00aa45;
	--gray: #f6f8fae5;
	--borderGray: #e1e4e8;
	--borderPrimary: #1e874b;
	--textBlack: #0d0d0d;
	--textGray: #959da5;
}

body {
	font-family: "Inter, sans-serif";
	box-sizing: border-box;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
